.chart {
  background: lightgray;
  border: 1px solid black;
  /* width: 1000px;
  height: 800px; */
}

.bar {
  height: 50px;
  fill: lightgreen;
  stroke: black;
  color: green;
  stroke-width: 1;
}

.bar:hover {
  fill: lightblue;
}
