.chart {
  background: lightgray;
  border: 1px solid black;
  min-width: 200px;
  min-height: 350px;
}

.bar {
  height: 50px;
  fill: lightgreen;
  stroke: black;
  color: green;
  stroke-width: 1;
}

.bar:hover {
  fill: lightblue;
}
